{% extends "base.html" %}
{% block title %}Área de Login{% endblock %}
{% block content %}
<div class="page">
    <div class="card center">
        <h1 class="texto-blue">Área de Login</h1>
        <form action="/logar" method="post">
            <input type="text" name="nome" placeholder="Nome de Usuário" required> <br>
            <input type="password" name="senha" placeholder="Senha" required> <br>
            <input class="botao botao-pequeno bg-blue" type="submit" value="Entrar">
            <a href="/cadastrar">
                <input class="botao botao-pequeno bg-green" type="button" value="Cadastrar Novo">
            </a>
        </form>
    </div>
</div>
{% endblock %}